<h1>Game of Hangman</h1>

<section class="hangman">
  <% @game.masked_word_letters.each do |letter| %>
    <span class="letter <%= 'letter-guessable' unless letter %>">
      <%= letter %>
    </span>
  <% end %>
</section>

<section>
  Lives remaining:
  <ul class="lives-remaining">
    <% (1..@game.initial_lives).each do |i| %>
      <li class="lives-life <%= 'lives-life-remaining' if i <= @game.lives_remaining %>">☺</li>
    <% end %>
  </ul>
</section>

<section class="keyboard">
  <div class="keyboard-row keyboard-row1">
    <%= render partial: 'games/keys', locals: {game: @game, keys: "qwertyuiop"} %>
  </div>
  <div class="keyboard-row keyboard-row2">
    <%= render partial: 'games/keys', locals: {game: @game, keys: "asdfghjkl"} %>
  </div>
  <div class="keyboard-row keyboard-row3">
    <%= render partial: 'games/keys', locals: {game: @game, keys: "zxcvbnm"} %>
  </div>
</section>
